<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registrations-webapp</title>
    <link rel="stylesheet" href="../style.css">

</head>

<body>
    <div class="container">
     <div class="key">
        <h3>Registration Code Key:</h3>
          <p>CT - CA</p>
          <p> Paarl - CB</p>
          <p>Bellville - CY</p>

       </div>
        <div class="header">
            <h1>Registration Numbers</h1>
        </div>
        
        <div>
          {{#if messages.error}}
          <div class="flash-error">
            {{messages.error}}
          </div>
          {{/if}}
          {{#if messages.success}}
          <div class="flash-success">
            {{messages.success}}
          </div>
          {{/if}}
        </div>
        
        <div class="registrations">

            <form action="/reg_number" method="POST">
                <label for="registration" class="reg_label">Enter Registration Number:</label>
                <input type="text" id="registration" name="regNumber" value="{{regNumber}}">
                 <div class="add">
            <form action="/reg_number" method="GET">
                <button class="addButton" type="submit">Add</button>

                <div class="reg_list">
                  <ul id="registrationList">
        {{#each getRegistrations}}
        <li>{{this.reg_number}}</li>
        {{/each}}
    </ul>
                </div>
            </form>

        </div>

               </form> 

        <div class="pickTown" >
<form action="/reg_by_town" method="GET">
         <div class="towns">
        <label class="Johannesburg">
          <input type="radio" name="chooseTown" class="chooseTownRadio" value="Paarl">
          <span class="">Paarl</span>
        </label>
        <label class="English">
          <input type="radio" name="chooseTown" class="chooseTownRadio" value="Bellville">
          <span class="">Bellville</span>
        </label>
        <label class="CapeTown">
          <input type="radio" name="chooseTown" class="chooseTownRadio" value="Cape Town">
          <span class="">Cape Town</span>
        </label>
               <label class="All">
                <input type="radio" name="chooseTown" class="chooseTownRadio" value="View All">
                <span class="">View All</span>
        </div>
        
        <div class="show">
         
            <button class="showButton" type="submit">Show</button>
          
          <div class="reg_list">
                  <ul class="registrationList">
        {{#each registrations}}
        <li>{{this.reg_number}}</li>
        {{/each}}
    </ul>
        </div>
        </div>
        </form>
         <div class="resetB">
          <form action="/reset">
           <button class="resetB" type="submit">Reset</button>
          </form>
        </div>
 </div>
     
    </div>
    </div>

      <script>
// error messages display for 3.5seconds
    let errorMessageElem = document.querySelector('.flash-error')
  
    setTimeout(()=>{
      errorMessageElem.style.display = 'none'

    },3500)


//success messages display for 3 seconds
let successMessageElem = document.querySelector('.flash-success')

    setTimeout(()=>{
      successMessageElem.style.display = 'none'

    }, 3000)
// Reset button confirmation

 document.querySelector('.resetB').addEventListener('submit', async (event) => {
  event.preventDefault();

  const confirmReset = confirm('Are you sure you want to reset?');

  if (confirmReset) {
    try {
      const response = await fetch('/reset', { method: 'GET' });
      const data = await response.json();
      if (response.ok) {
        alert(data.message);
        location.reload();
      } else {
        alert(data.message);
      }
    } catch (error) {
      console.error('An error occurred', error);
    }
  }
});

  </script>
</body>

</html>
